{% extends "::base.html.twig" %}

{% block body %}

    <header>

      {% include 'PrismicStarterProjectBundle::toolbar.html.twig' %}

      <a href="{{ path('home', {'ref': ctx.maybeRef}) }}">
        <h1>Your prismic.io project</h1>
      </a>

    </header>

    {% block content %}{% endblock %}

    <footer>
        {% if not ctx.hasPrivilegedAccess %}
             <hr><a href="{{ path('signin') }}">Sign in to preview changes</a>
        {% endif %}
    </footer>

{% endblock %}
