{% extends "PrismicStarterProjectBundle::layout.html.twig" %}

{% block content %}

    <h2>
        {% if docs and docs|length == 1 %}
            One document found
        {% elseif docs %}
            {{ docs|length }} documents found
        {% else %}
            No results
        {% endif %}
    </h2>

    <ul>
        {% for doc in docs %}
            <li>
                <a href="{{ ctx.resolveLink(doc) }}">
                    {{ doc.slug }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
